# web + bot
DATABASE_URL=
PRESTOCKS_API_URL=https://prestocks.com/api/prestocks
SOLANA_RPC_URL=
WEB_PUBLIC_URL=
JUPITER_API_KEY=
CRON_SECRET=

# bot only
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=MarktapeBot
TELEGRAM_PUBLIC_URL=https://t.me/MarktapeBot
