# web + bot
DATABASE_URL=postgresql://postgres:PgZKeACKjOzFlvEiepJXGubMVqIRqsKX@postgres.railway.internal:5432/railway
PRESTOCKS_API_URL=https://prestocks.com/api/prestocks
SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=dd3dd814-00fc-4ab7-b647-2e013ac5eacb
WEB_PUBLIC_URL=marktape-production.up.railway.app
JUPITER_API_KEY=jup_921d7f0b4c0798acc050304ad4ac9939cf21cffaee713414b9a0a524e4349bbc
CRON_SECRET=

# bot only
TELEGRAM_BOT_TOKEN=8624758800:AAGmygsHq9PZweDZ3RdmfTbCbSN3MmXdrUw
TELEGRAM_BOT_USERNAME=Themarktapebot
TELEGRAM_PUBLIC_URL=https://t.me/Themarktapebot
